name: Build

on:
  push:
    tags:
      - '*'

env:
  NODE_VERSION: '24.11.1'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1
      
      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Copy .env file
        run: cp .env.template .env

      - name: Install dependencies
        run: npm install

      - name: Run output build
        run: npm run output

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: generated-build
          path: output/
