name: Test

on:
  pull_request:
  push:
    branches: [ main ]

env:
  NODE_VERSION: '24.11.1'

jobs:

  cache-node-modules:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache node_modules
        uses: actions/cache@v4.3.0
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

  ui-test:
    needs: cache-node-modules
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Restore node_modules
        uses: actions/cache@v4.3.0
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Run test
        run: npm run test:run
